<!DOCTYPE html>
<html>
<head>
  <title>Yitheme</title>
  <%= stylesheet_link_tag    "yitheme/application", :media => "all" %>
  <%= javascript_include_tag "yitheme/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
